<% content_for :blog go %>
<h4>Blog</h4>
<% @blogs.each do |blog| %>
	<div id="blog-<%= blog.id %>" class="blog"><%= blog.title %><br />
	<span>Posted <%= distance_of_time_in_words(Time.now , blog.created_at) %> ago</span></div>
	<div id="blogbody-<%= blog.id %>" class="blogbody"><p class="blogp"><%= blog.body.html_safe %></p></div>
<% end %>
<script>
	$('')
</script>
<% end %>