<div id="homes">
	<div class="row">
		<% @homes.each do |home| %>
			<div class="col_4 <%= cycle("first","last" ) %> portentry ">
			<div class="controls">	
				<!-- image -->
				<div class="cat"><%= home.category %></div>
				<a href="#" data-reveal-id="<%= home.title.gsub(/[\s_]+/, '-').strip %>_modal" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal" class="mask"><div class="img_overlay"></div><%= image_tag(home.port.url(:medium), :alt => home.title) %></a>
				
				<% if !home.image_url.blank? %>
					<%= link_to 'Visit', home.image_url, :class => 'visit' %>
				<% else %>
					<a href="#" data-reveal-id="<%= home.title.gsub(/[\s_]+/, '-').strip %>_modal" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal" class="visit">Enlarge<% image_tag(home.port.url(:medium), :alt => home.title) %></a>
				<% end %>
			</div>

			</div>
				<!-- modal -->
			<div id="<%= home.title.gsub(/[\s_]+/, '-').strip %>_modal" class="reveal-modal">
				<%= image_tag(home.port.url(:maxorg), :alt => home.title) %>
				<div>
					<!-- info -->
					<h2><%= home.title %></h2>
					<p class="orange"><%= home.description %></p>
					<%= home.technologies %>
					<%= home.video_url %>
					<%= home.song_url %>
				</div>	
				<a class="close-reveal-modal">&#215;</a>
			</div>
		<% end %>
	</div>	
</div>
<div id="black" style="margin: auto;"></div>
