<!DOCTYPE html>
	<!--[if lt IE 7 ]> <html lang="en-us" class="no-js ie6"> <![endif]-->
	<!--[if IE 7 ]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
	<!--[if IE 8 ]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
	<!--[if IE 9 ]>    <html lang="en-us" class="no-js ie9"> <![endif]-->   
	<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<html>
<head>
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Toribaa :: Portfolio of Joshua Toliver :: Multimedia Artist/Web Developer</title>
  	<link href='http://fonts.googleapis.com/css?family=Droid+Serif&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag 'columnal' %> 
  	<%= stylesheet_link_tag 'custom' %> 
  	<%= stylesheet_link_tag 'reveal' %> 
  	<%= stylesheet_link_tag 'slider' %> 
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tag %>
  	<!-- Fixes for IE -->
		<!--[if lt IE 9]>
			<%= stylesheet_link_tag 'ie.css' %>
		<![endif]-->

	<!-- use "fixed-984px-ie.css" or "fixed-960px-ie.css for a 984px or 960px fixed width for IE6 and 7 -->
		<!--[if lte IE 7]>
			<%= stylesheet_link_tag 'fixed-984px-ie.css' %>
		<![endif]-->
	<!-- End fixes for IE -->
</head>
<body>
	<!-- Home -->
	<%= render 'shared/home' %>
	<!-- About -->
	<%= render 'shared/about' %>
	<!-- Portfolio -->
	<%= render 'shared/portfolio' %>
	<!-- Footer -->
	<%= render 'shared/footer' %>		
</body>
</html>
